@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-feed three-cols">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    <div class="probootstrap-gallery">
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="/img/rektor.jpg" itemprop="contentUrl" data-size="1000x632">
                                <img src="/img/rektor.jpg" style="margin-left: 105.5%;" itemprop="thumbnail" alt="Free Bootstrap Template by ProBootstrap.com" />
                            </a>
                            <figcaption itemprop="caption description">Rektör</figcaption>
                        </figure>

                    </div>
                </div>
                <h4 style="text-align:center">Prof. Dr. Nedim SÖZBİR</h4>
                <h4 style="text-align:center">Rektör</h4>
                <p>Prof. Dr. Nedim SÖZBİR, 1965 yılında Kars’ta doğdu. İlkokulu ve ortaokulu Üsküdar’da, lise eğitimini 1982 yılında Gemi Yapı Meslek Lisesi’nde tamamladı. 1986 yılında Yıldız Teknik Üniversitesi Kocaeli Müh. Fak. Mak. Müh. ve 1991 yılında  Yıldız Teknik Üniversitesi  F.B.E.  Mak. Y. Müh. olarak mezun oldu. 1986-1987 ve 1989-1990 yılları arasında Türkiye Gemi Sanayi A.Ş. Pendik-Sulzer Motor Fabrikası'nda Mak. Müh. olarak çalıştı. 1988-1989 tarihleri arasında Dz.K.K. Gemi Onarım Şubesi'nde Makine Asteğmen olarak askerlik görevini ifa etti.  1990-1995 yılları arasında  Yıldız Teknik Üniversitesi Kocaeli Müh. Fak. Mak. Müh. Böl. Arş. Gör. olarak çalıştı. 1994-1995 yılları arası Miami Üniversitesi Mak. Müh. Böl. FL, A.B.D. Misafir Araştırmacı olarak doktora tez çalışmasını tamamladı. 1995 yılında İstanbul Üniversitesi F.B.E.  Mak. Müh. EABD  Dr. Mühendis unvanını aldı. 2000-2004 yılları arasında Carnegie Mellon Üniversitesi Mak. Müh.Böl. PA, A.B.D. doktora sonrası araştırmacı olarak çalıştı. 2006-2007 yılları arası Thales Alenia Space, Cannes, Fransa’da Türksat 3A Haberleşme Uydusu Projesi Teknoloji Transferi programında yer alarak, Uydu Isıl Mühendisi olarak çalıştı. 2015-2016 yılları arasında Savunma Sanayi Müsteşarlığında Ar-Ge Panel Üyesi ve TÜBİTAK Uzay Teknolojileri Enstitüsü'nde Başuzman Araştırmacı olarak çalıştı. 2018-2020 yılları arasında TÜBİTAK Marmara Araştırma Merkezi’nde Yönetim Kurulu Üyesi,  2018-2020 yılları arasında BMC Power Motor ve Kontrol Teknolojileri A.Ş'de  1000 ve 1500 BG Güç Sistemleri Geliştirilmesi Projesinde Araştırmacı, 2010-2015 yılları arasında Göktürk 1 Uydusu kapsamında Uzay Sistemleri Merkezi (USET) kurulumunda Danışman  ve  2017-2021 yılları arası TÜBİTAK Marmara Araştırma Merkezi’nde Başkan Danışmanı olarak görev yaptı. 2006 yılından itibaren Türksat A.Ş.'de Yerli Haberleşme Uydusu Geliştirilmesi Projesinde  Araştırmacı ve Danışman olarak çalıştı. 1995-2022  yılları arasında Sakarya Üniversitesi Müh. Fak. Mak.Müh. Böl. Öğretim Üyesi  ve 2019-2022 yılları arası Sakarya Üniversitesi Teknik Eğitim Fakültesi Dekan V. olarak görev yaptı. 04.08.2022 tarihinde Düzce Üniversitesi Rektörü olarak atandı.</p>
                <p>Prof. Dr. Nedim SÖZBİR’in araştırma konuları arasında; uydu ve uzay teknolojileri, uydularda ısıl kontrol, enerji teknolojileri, ısı transferi, ısıl tasarım, elektronik soğutma,  enerji ekonomisi, atıkların geri kazanımı ve çevre teknolojileri konuları yer almaktadır. Yerli  Gemi Motorları, Yeni Nesil Zırhlı Araç için 1000 BG ve Altay Tankı için 1500 BG Güç Grubu Geliştirilmesi, Yerli Haberleşme Uydusu ve Alt Sistemleri gibi Ulusal ve Uluslararası Projelerde Danışman ve Araştırmacı olarak çalıştı. 2006-2013 yılları arasında Haberleşme ve Gözlem Uydusu Tasarımı, Montaj, Entegrasyon  ve Testleri konularında Thales Alanie Space ve  Space University, Fransa’da eğitimler aldı.</p>
                <p>Prof. Dr. Nedim SÖZBİR’in, Ulusal ve Uluslararası 42 adet makalesi ve 114 bildirisi,  Haberleşme Uydusu Platformu Ulusal Patenti, Alüminyum Esaslı Flakslar-Çelik Endüstrisi için TS 13644 Standardı Çalışması, Teknofest Model Uydu Yarışması öğrencileri için “Uydu Haberleşmesi 101” kitapçığı ve Editörlük yaptığı Isı Bilimi ve Tekniği Kongresi kitapları mevcuttur.  Ulusal ve Uluslararası dergilerde pek çok dergide hakemlik yapmıştır.  Halen Frontiers in Thermal Engineering dergisinde Heat Transfer in Aerospace Applications konusunda misafir editör olarak görev yapmaktadır.</p>
            </div>
        </div>
        @await Component.InvokeAsync("Kadro")

        @Html.Partial("_PartialView")
    </div>
</section>