        <section class="probootstrap-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                        <h2>İşbirlikleri</h2>
                        <p class="lead">Protokol İmzalanan Firmalar</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="service left-icon probootstrap-animate">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>AKSUVİTAL DOĞAL ÜRÜNLER A.Ş.</h3>
                            </div>
                        </div>
                        <div class="service left-icon probootstrap-animate">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>DİVAPAN ENTEGRE A.Ş.</h3>
                            </div>
                        </div>
                        <div class="service left-icon probootstrap-animate">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>GP-AMG YENİLENEBİLİR ENERJİ LTD. ŞTİ.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service left-icon probootstrap-animate">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>BEZMIALEM VAKIF ÜNIVERSITESI</h3>
                            </div>
                        </div>

                        <div class="service left-icon probootstrap-animate">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>NATURIN DOĞAL ÜRÜNLER</h3>
                            </div>
                        </div>

                        <div class="service left-icon probootstrap-animate">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>APIMAYE ARICILIK</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>