<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Yönetim Kadromuz</h2>
                <p class="lead">Üniversitemizin yönetim kadrosunu tanıyın</p>
            </div>
        </div>
        <!-- END row -->

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="probootstrap-teacher text-center probootstrap-animate">
                    <figure class="media">
                        <img src="/img/person_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
                    </figure>
                    <div class="text">
                        <h3>Prof. Dr. Nedim SÖZBİR</h3>
                        <p>Rektör</p>
                        <ul class="probootstrap-footer-social">
                            <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="probootstrap-teacher text-center probootstrap-animate">
                    <figure class="media">
                        <img src="/img/person_5.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
                    </figure>
                    <div class="text">
                        <h3>Prof. Dr. İlhan GENÇ</h3>
                        <p>Rektör Yardımcısı</p>
                        <ul class="probootstrap-footer-social">
                            <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6">
                <div class="probootstrap-teacher text-center probootstrap-animate">
                    <figure class="media">
                        <img src="/img/person_6.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
                    </figure>
                    <div class="text">
                        <h3>Prof. Dr. Resul KARA</h3>
                        <p>Mühendislik Fakültesi Dekanı</p>
                        <ul class="probootstrap-footer-social">
                            <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="probootstrap-teacher text-center probootstrap-animate" style="margin-right: 20px;">
                    <figure class="media">
                        <img src="/img/person_7.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
                    </figure>
                    <div class="text">
                        <h3>Prof.Dr.Mustafa KOÇ</h3>
                        <p>Eğitim Fakültesi Dekanı</p>
                        <ul class="probootstrap-footer-social">
                            <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>